########################################################################################################################
#                                                   REDEAM
########################################################################################################################
PACKAGE_NAME=github.com/NickTaporuk/redeam
COMPAILED_APP_NAME=redeam-test-task
SERVER_PORT=:8888
SERVER_HOST=0.0.0.0
########################################################################################################################
#                                                   POSTGRES
########################################################################################################################
DATABASE_TYPE=postgres
DATABASE_MIGRATE=true
# if you use docker you can use redeam-postgres as the database host
# default host is localhost
#POSTGRES_HOST=redeam-postgres
POSTGRES_HOST=localhost
POSTGRES_PASSWORD=redeam
POSTGRES_USER=redeam
POSTGRES_DB=redeam
POSTGRES_PORT=5432
POSTGRES_SSL_MODE=disable
SEEDS=true
